In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('models_results.csv')

In [5]:
df

                         Model  Average Reward
0    checkpoint_1000_22584.pth     -808.825099
1    checkpoint_1000_22585.pth    -1273.774415
2    checkpoint_1000_22586.pth     -715.051800
3    checkpoint_1000_22587.pth     -932.042540
4    checkpoint_1000_22588.pth     -594.532356
..                         ...             ...
100   checkpoint_950_22584.pth     -782.718373
101   checkpoint_950_22585.pth     -329.709667
102   checkpoint_950_22586.pth     -835.953165
103   checkpoint_950_22587.pth     -803.547748
104   checkpoint_950_22588.pth     -858.698331

[105 rows x 2 columns]

In [6]:
df.sort_values(by='Average Reward', ascending=False).head(10)

                       Model  Average Reward
75  checkpoint_700_22584.pth     -200.662671
20  checkpoint_200_22584.pth     -212.008629
81  checkpoint_750_22585.pth     -246.993373
95  checkpoint_900_22584.pth     -248.484331
37  checkpoint_350_22586.pth     -250.501040
40  checkpoint_400_22584.pth     -255.962570
22  checkpoint_200_22586.pth     -257.626938
61  checkpoint_550_22585.pth     -262.968681
60  checkpoint_550_22584.pth     -265.718388
65  checkpoint_600_22584.pth     -274.597635